<div class="container-fluid mt-5" id="about">
  <div class="row">
    <div class="col-md-10 col-12 mx-auto">
      <div class="row">
        <div class="col-md-6 col-12 hero-text order-md-1 order-0">
          <h1>About</h1>
          <P>
            The AstroVastu analysis works on the individual horoscope and vastu
            principles. there is a deepconnection between astrology and vastu.
            Vastu talks about favourable directions and in astrology planets,
            houses and signs also have favourable directions.when astrology and
            vastu are combined it helps one in having own desired personal space
            for overall success and growth of native.
          </P>
          <p>While working on individual clients astrovastu it just helps to
            enhance the positivity of what the person is good at and control the
            flow that is negative.</p>

        </div>
        <div class="col-md-6 col-12 hero-text order-md-0 order-1">
          <figure>
            <img src="Ashwani_Garg.JPG" alt="Pic" style="height: 7%" />
          </figure>
        </div>
      </div>

    </div>
  </div>
</div>