<h1 style="text-align: center;">Astrology</h1>
<div class="container-fluid mt-5" id="astro">
  <div class="row">
    <div class="col-md-10 col-12 mx-auto">
      <div class="row">
        <div class="col-md-6 col-12 hero-text order-md-1 order-1">

          <P>
            Astrology or Jyotisha is one of the oldest sciences, which takes
            into consideration the movement of the heavenly bodies and the
            inter-connection between them. This science is that fine line
            between uncertainty and enlightenment, mystery and realisation. As
            Astrology is a Vedanga, it has answers to almost all our problems.
            Apart from a predictive science, Astrology can also be called an
            intuitive art.Jyotish is jyoti + ish, that is divine light
          </P>

        </div>
        <div
          class="col-md-6 col-12 hero-text order-md-0 order-0"
          style="text-align: center;"
        >
          <figure>
            <img
              class="img-responsive w-50 p-3"
              src="wheel.jpg"
              alt="Astro Wheel"
              srcset=""
            />
          </figure>
        </div>
      </div>

    </div>
  </div>
</div>