<div class="container-fluid mt-5" id="contact">
  <div class="row">
    <div class="col-md-10 col-12 mx-auto">
      <div class="row">
        <div class="col-md-6 col-12 hero-text order-md-0 order-1">
          <h1>Contact</h1>

        </div>

      </div>

    </div>
  </div>
</div>