<h1 style="text-align: center;">Vastu</h1>
<div class="container-fluid mt-5">
  <div class="row">
    <div class="col-md-10 col-12 mx-auto">
      <div class="row">
        <div class="col-md-6 col-12 hero-text order-md-0 order-1">

          <P>
            The term vastu comes from sanskrit word- 'vas niwase' meaning
            habitable place,vis; a place which assists you live an ideal life.
            Many people say that why vastu create difficulty / problem / disease
            for only 1 or 2 members in a family when 6 to 8 members are living
            in the same house. This is because vastu is different for every
            person. One direction that is beneficial for one person may not be
            good for other. Without understanding this we keep on adding vastu
            remedies in different directions on suggestions of others. Sometimes
            this thing can become dangerous too. Vastu is different for every
            person as per their birth chart. So for using vastu remedies we
            should go for the study of birth chart too which has an important
            role in one's life. A lot of vastu remedies in a house may create an
            imbalance in the energy of space. So be cautious & be happy in your
            dwelling space.
          </P>

        </div>
        <div
          class="col-md-6 col-12 hero-text order-md-1 order-0"
          style="text-align: center;"
        >
          <figure>
            <img
              class="img-responsive w-75 p-3"
              src="vastu.jpg"
              alt="Vastu Purush"
              srcset=""
            />
          </figure>
        </div>
      </div>

    </div>
  </div>
</div>