    <div class="container-fluid">
      <div class="row">
        <div class="col-md-10 col-12 mx-auto">

      
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">MYSTIQ ASTRO VASTU</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Vastu</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#astro">Astrology</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#av">Astro Vastu</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#about">About</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" href="#contact">Contact</a>
        </li>

     
      </form>
    </div>
  </div>
</nav>

  </div>
      </div>
    </div>